* {
    box-sizing: border-box;
}

@font-face {
    font-family: "roboto";
    src: url(Roboto-Regular.ttf);
}

body {
  margin: 0;
  font-family: "roboto";
  background: #fafafa;
  color: #111;
}
.header {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 40px;
  position:fixed;
  top: 0;
  width: 100%;
  height: 80px;
}
.header img {
  height: 32px;
}
.account-btn {
  background: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
}
.account-btn:hover {
    border: 2px;
    border-style: solid;
    border-color: #ffd400;
    color: #ffd400;
}
main {
  text-align: center;
  padding: 40px 20px;
}
h1 {
  font-size: 32px;
  margin-bottom: 40px;
}
.plans {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.plan, .plan-active {
  background: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  width: 320px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.2s;
  border: 1px;
  border-style: solid;
}

@media screen and (max-width: 768px) {
  .plan-active {
    transform: translateX(-3px);
  }
}

.plan:hover {
  border-color: #ffd400;
}
.plan-active:hover {
  border-color: #ffd400;
}
.plan h2 {
  font-size: 22px;
  margin-bottom: 5px;
}
.price {
  font-size: 26px;
  font-weight: bold;
}
.price span {
  font-size: 14px;
  color: #555;
}
ul {
  margin-top: 15px;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
  line-height: 1.5;
  list-style: none;
}
.btn {
  width: 100%;
  padding: 12px;
  border: 2px solid #000;
  background: transparent;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}
.btn:hover{
    background-color: #000;
    color: #fafafa;
}
.btn.yellow:hover {
    background-color: #000;
    color: #fafafa;
}
.btn.yellow {
  background: #ffd400;
  border: none;
  margin-top: 100px;
}
.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: #000;
  color: #fff;
  height: 40px;
  margin-top: 15px;
}

.step {
  text-align: center;
  opacity: 0.6;
}

.step.active {
  opacity: 1;
}

.circle {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 6px;
  font-weight: bold;
}
.main1 {
  text-align: center;
  padding: 50px 20px;
}

.main1 h1 {
  font-size: 30px;
  margin-bottom: 40px;
}

.plan-card {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 0 auto 50px;
  padding: 30px;
  text-align: left;
  border: 1px;
  border-style: solid;
}
.plan-card:hover {
    border-color: #ffd400;
}
.plan-card h2 {
  font-size: 22px;
  margin-bottom: 8px;
}

.price1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
}

.price1 span {
  font-size: 14px;
  color: #555;
}

.desc {
  color: #333;
  margin-bottom: 20px;
  line-height: 1.5;
}

.plan-card ul {
  list-style: none;
  padding: 0;
  margin: 0 0 25px 0;
}

.plan-card ul li {
  margin-bottom: 10px;
  font-size: 15px;
}
.btn.yellow1 {
  background: #ffd400;
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.btn.yellow1:hover {
    background-color: #000;
    color: #fafafa;
}

.footer-title {
  font-size: 22px;
  font-weight: bold;
}
.fanpacks {
  padding: 60px 20px 100px;
  background: #fafafa;
}

.packs-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  flex-wrap: wrap;
}

.pack {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  width: 340px;
  padding: 30px 25px;
  text-align: left;
  border: 1px;
  border-style: solid;
}
.pack:hover {
    border-color: #ffd106;
}
.pack h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.price {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.price span {
  color: #444;
  font-size: 14px;
}

.pack p {
  font-size: 15px;
  line-height: 1.6;
  color: #222;
}

.pack .note {
  font-size: 13px;
  color: #555;
  margin-top: 10px;
}

.pack .btn.yellow1 {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #ffd400;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 30px;
}
.pack .btn.yellow2 {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #ffd400;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 6px;
}
.pack .btn:hover {
   background-color: #000;
   color: #fafafa;
}
.last {
    width: 100%;
    background-color: #000;
    padding: 20px;
}

.plans-container {
  margin-top: 5%;
}

@media (max-width: 900px) {
  .packs-container {
    flex-direction: column;
    align-items: center;
  }

  .pack {
    width: 90%;
    max-width: 400px;
  }
  .plan-card {
    width: 90%;
  }

  .main h1 {
    font-size: 24px;
  }

  .steps {
    flex-direction: row;
    gap: 20px;
  }
  .plans {
    flex-direction: column;
    align-items: center;
  }

  .plan {
    max-width: 400px;
  }

  h1 {
    font-size: 26px;
  }
  .header {
    width: 705px;
  }
  
  .plans-container {
    margin-top: 10% !important;
  }
}